body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    color: #eacff9;
    justify-content: center;
    min-height: 100vh;
}

.login-container {
    display: flex;
    margin-top: 5%;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.admin-login {
    display: flex;
    align-items: center; 
    gap: 10px; 
    margin-top: 4px;
}

.admin-checkbox {
    width: 16px;
    height: 16px;
    cursor: pointer;
}

.admin-label {
    font-size: 14px;
    color: #333; 
    cursor: pointer;
}

.login-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    color: #333;
    width: 80%;
    max-width: 1200px; 
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
    animation: slideIn 0.9s ease-out;
}

h2 {
    font-size: 28px;
    text-align: center;
    color: #333;
    margin-bottom: 30px;
    font-weight: bold;
    text-transform: uppercase;
}

.input-group {
    margin-bottom: 20px;
}

.input-field {
    position: relative;
    margin-bottom: 20px;
}

input {
    width: 100%;
    padding: 15px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    transition: all 0.3s ease;
}

input:focus {
    border-color: #6E473B;
    outline: none;
}

.admin-label {
    position: absolute;
    bottom: 200px;
    color: #bbb;
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: #fff;
}

.login-label {
    position: absolute;
    left: 15px;
    top: 15px;
    color: #bbb;
    font-size: 16px;
    transition: all 0.3s ease;
    background-color: #fff;
    padding: 0 5px;
    z-index: 1;
}

input:focus + .login-label,
input:not(:focus):valid + .login-label {
    top: -8px;
    font-size: 14px;
    color: #6E473B;
}

button.login-btn {
    width: 100%;
    padding: 15px;
    font-size: 18px;
    background-color: #6E473B;
    border: none;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
    font-weight: bold;
}

button.login-btn:hover {
    background-color: #A78D78;
}

.redirect-register {
    text-align: center;
    margin-top: 15px;
}

.redirect-register a {
    color: #6E473B;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s ease;
}

.redirect-register a:hover {
    color: #A78D78;
}

.login-image-section {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.login-mp4-animation {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        height: auto;
    }

    .login-box,
    .login-image-section {
        flex-direction: column; 
        width: 90%;
    }

    .login-mp4-animation {
        height: 300px;
    }
}

